{
  "edit_predictions": {
    "provider": "none"
  },
  "telemetry": {
    "diagnostics": true,
    "metrics": false
  },
  "restore_on_startup": "launchpad",
  "tabs": {
    "file_icons": true
  },
  "title_bar": {
    "show_branch_icon": true
  },
  "diagnostics": {
    "inline": {
      "enabled": true
    }
  },
  "inlay_hints": {
    "show_parameter_hints": false,
    "show_value_hints": true,
    "show_type_hints": false,
    "show_background": true,
    "enabled": true
  },
  "vim_mode": true,
  "redact_private_values": false,
  "icon_theme": {
    "mode": "system",
    "light": "Zed (Default)",
    "dark": "Catppuccin Latte"
  },
  "ui_font_size": 16,
  "buffer_font_size": 14.0,
  "buffer_font_family": "Maple Mono NF CN",
  "theme": {
    "mode": "dark",
    "light": "Ayu Light",
    "dark": "Catppuccin Mocha"
  },
  "languages": {
    "JavaScript": {
      "formatter": {
        "language_server": {
          "name": "biome"
        }
      },
      "code_actions_on_format": {
        "source.fixAll.biome": true,
        "source.organizeImports.biome": true
      }
    },
    "TypeScript": {
      "formatter": {
        "language_server": {
          "name": "biome"
        }
      },
      "code_actions_on_format": {
        "source.fixAll.biome": true,
        "source.organizeImports.biome": true
      }
    },
    "TSX": {
      "formatter": {
        "language_server": {
          "name": "biome"
        }
      },
      "code_actions_on_format": {
        "source.fixAll.biome": true,
        "source.organizeImports.biome": true
      }
    },
    "JSON": { "formatter": { "language_server": { "name": "biome" } } },
    "JSONC": { "formatter": { "language_server": { "name": "biome" } } },
    "CSS": { "formatter": { "language_server": { "name": "biome" } } }
  }
}
