[submodule "nvim"]
	path = nvim
	url = https://github.com/freemode1614/nvim.git
	branch = main
[submodule "wezterm"]
	path = wezterm
	url = https://github.com/freemode1614/dot-wezterm.git
	branch = main
